<!DOCTYPE html>
<html>
  <head>
    <title>Thanks</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
    <h2>Thanks for Subscribing.</h2>
    <p>Your email <%= email %> has been added successfully to our subscribers list.</p>
    </div>
  </body>
</html>
